
CancerDetector.xcodeproj/project.xcworkspace/xcuserdata/prathyet.xcuserdatad/UserInterfaceState.xcuserstate
CancerDetector.xcodeproj/project.xcworkspace/xcuserdata/prathyet.xcuserdatad/UserInterfaceState.xcuserstate
/CancerDetector.xcodeproj
/CancerDetector.xcodeproj/xcuserdata
/CancerDetector.xcodeproj/project.xcworkspace/xcuserdata
